@{
    ViewBag.Title = "Redmine Interface";
}

<style>

    .centered-div
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
    }
</style>

<div class="centered-div">
    <h1>Redmine Interface</h1>
</div>
